@use "@/assets/styles/mixins/flex" as *;

.header {
  @include row-center();
  box-shadow: rgba(0, 0, 0, 0.19) 0px -7px 30px 0px;

  &__inner {
    width: 100%;

    &.v-container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;

    .list {
      display: flex;
      column-gap: 1rem;

      &.mobile {
        display: none;
      }

      &__item {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    &__nav {
      flex-wrap: wrap;

      .list {
        flex-direction: column;
        flex-basis: 100%;

        &.mobile {
          display: flex;
        }

        &__item {
          &:first-child {
            margin-top: 1rem;
          }
        }
      }
    }

  }
}
