@use "@/assets/styles/mixins/container" as *;
@use "@/assets/styles/variables" as *;

.wrapper {
  @include wrapper();
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 12px;
}

ul {
  list-style: none;
}

a {
  color: $blue-3;
  font-weight: 600;
  letter-spacing: 0.95px;
  transition: all 0.3s linear;

  &:hover {
    color: $blue;
  }

  &:active {
    opacity: 0.9;
  }
}

@import "@/assets/styles/media";
@import "@/assets/styles/blocks/buttons";
