@use "@/assets/styles/variables" as *;

.v-btn {
  &.btn-primary {
    color: $blue-2;
    text-transform: uppercase;
    border: 2px solid $blue-2;
    background: transparent;
    transition: all 0.15s linear;

    &:hover {
      color: #fff;
      background: $blue-2;
    }
  }

  &.btn-menu {
    font-weight: bold;
    border: 1px solid $blue;
    background: transparent !important;

    span {
      color: $blue;
    }

    &:focus {
      outline: 1px solid $blue;
    }
  }
}

.link {
  text-decoration: none;
}
